In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Raw data file
file_path = "~/Desktop/Resources/purchase_data.csv"

In [2]:
# Read purchasing file and store into pandas data frame
purchase_data = pd.read_csv(file_path)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [3]:
# Display a statistical overview of the purchase data
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

In [4]:
#*PURCHASING ANALYSIS*#

In [5]:
# Pymoli total player count
total_count = purchase_data["SN"].nunique()
total_count

576

In [6]:
#Total Unique values
unique_values = len(purchase_data['Item ID'].unique().tolist())
unique_values

183

In [7]:
# The mean purchase price
average_purchase_price = purchase_data["Price"].mean()
average_purchase_price

3.050987179487176

In [8]:
# The total number of purchases
total_purchases = purchase_data["Purchase ID"].count()
total_purchases

780

In [9]:
# The total revenue
total_revenue = purchase_data["Price"].sum()
total_revenue

2379.77

In [10]:
##Purchasing Analysis (Total)##

purchasing_analysis = pd.DataFrame({"Total Payer Count" : purchase_data["SN"].nunique(),
                                    "Total Unique Items" : len(purchase_data['Item ID'].unique().tolist()),
                                    "Average Purchase Price": purchase_data["Price"].mean(),
                                    "Total Revenue" : purchase_data["Price"].sum()}, index=[0])
purchasing_analysis

,Total Payer Count,Total Unique Items,Average Purchase Price,Total Revenue
0,576,183,3.050987,2379.77

In [11]:
##Alternative Purchasing Analysis (Total)##
purchasing_analysis = pd.DataFrame({"Total Payer Count" : total_count,
                                    "Total Unique Items" : unique_values,
                                    "Average Purchase Price": average_purchase_price,
                                    "Total Revenue" : total_revenue}, index=[0])
purchasing_analysis

,Total Payer Count,Total Unique Items,Average Purchase Price,Total Revenue
0,576,183,3.050987,2379.77

In [12]:
#*GENDER DEMOGRAPHICS*#

In [13]:
#df = pd.DataFrame({'state': ['CA', 'WA', 'CO', 'AZ'] * 3,
#                   'office_id': range(1, 7) * 2,
#                   'sales': [np.random.randint(100000, 999999)
#                             for _ in range(12)]})
#
#df.groupby(['state', 'office_id']).agg({'sales': 'sum'})#

gender_demographics =pd.DataFrame({'' : ['Male', 'Female','Other/Non-disclosed']*3,
                                   'Percentage' : []})

ValueError: arrays must all be same length

In [ ]:
 # The value_counts method counts unique values in a column
count = data_file_pd["Gender"].value_counts()
count